
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgb(255, 238, 206);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-section h1 {
  text-align: center;
  margin-top: 20px;
  align-items: center;

}

.memory-game {
    width: 540px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; /* Permite que as cartas quebrem linha */
    perspective: 1000px; /* Dá a sensação de profundidade 3D */
}

.memory-card {
    width: calc(25% - 10px); /* 6 cartas por linha */
    height: calc(33.333% - 10px); /* mantém altura original */
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d; /* Essencial para o efeito 3D */
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

/* Classe que será adicionada pelo JS para virar a carta */
.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; /* Esconde o verso quando virado */
}

.front-face {
    transform: rotateY(180deg); /* A face começa virada para trás */
}